<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Paso 2</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Paso 2</h1>
        <form method="POST">
  
	    <button type="submit" name="action" value="step1" class="btn btn-secondary mt-3">Regresar</button>
            <button type="submit" name="action" value="index" class="btn btn-success mt-3">Guardar</button>
	    
        </form>
	
        
    </div>
</body>
</html>
